extends ../layout.pug

block content
    .banner
        .container
            .row.justify-content-between
                .col-md-6.order-2.order-lg-1
                    .banner__content
                        .banner__content--subtitle= about_banner_subtitle
                        .banner__content--title= about_banner_title
                        .banner__content--text= about_banner_text
                        a.btn.btn-primary(href= about_banner_button_link)= about_banner_button_text
                .col-md-4.order-1.order-lg-2
                    img.banner__image(src="dist/img/about-me.svg")
    .about-me
        .container
            .row
                .col-md-6
                    .about-me__content
                        .about-me__content--subtitle= about_me_subtitle
                        .about-me__content--title= about_me_title
                        .about-me__content--text!= about_me_text
                .col-md-6
                    img.banner__image(src="dist/img/about-me-code.svg")
                .col-md-8
                    .about-me__content
                        .about-me__content--title= about_lanuages_title
                        ul.row
                            each language in about_lanuages
                                li.col-md-6= language
