extends ../layout.pug

block content

    .banner
        .container
            .row
                .col-md-6.order-2.order-lg-1
                    .banner__content
                        .banner__content--subtitle= home_banner_subtitle
                        .banner__content--title= home_banner_title
                        .banner__content--text= home_banner_text
                        a.btn.btn-primary(href= home_banner_button_link)= home_banner_button_text
                .col-md-6.col-lg-5.order-1.order-lg-2
                    img.banner__image(src="dist/img/home-banner.svg")
    .technical-skills
        .container
            .row
                each skill in home_technical_skills
                    .col-md-6.px-3.py-1
                        .technical-skills__item
                            .technical-skills__item--title= skill.skill_title
                            .technical-skills__item--text= skill.skill_text
                            button.btn.btn-primary(data-toggle="modal" data-target="#aboutMeModal") Learn more
    .about-me
        .container
            .row
                .col-md-5
                    img.banner__image(src="dist/img/about-me.svg")
                .col-md-6
                    .about-me__content
                        .about-me__content--subtitle= home_about_me_subtitle
                        .about-me__content--title= home_about_me_title
                        .about-me__content--text= home_about_me_text

                        button.work__content--link(data-toggle="modal" data-target="#aboutMeModal")= home_about_me_button_text

    .my-work
        .container
            .my-work__content
                .d-flex.align-items-center.justify-content-between
                    div
                        .my-work__content--subtitle Explore
                        .my-work__content--title My work
                    div
                        a.btn.btn-primary(href="/work") Explore more work
            .row
                each work in my_work.ruby
                    .col-md-4
                        .work
                            .work__image(style="background-image: url('"+ work.work_image +"')")
                            .work__content
                                .work__content--title= work.work_title
                                .work__content--description= work.work_text
                                a.work__content--link(href= work.work_link target="_blank") View
    .modal.fade#aboutMeModal(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    h5.modal-title A little about me
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    p!= about_me_text
                    .about-me__content--title= about_lanuages_title
                    ul.row
                        each language in about_lanuages
                            li.col-md-6= language
                .modal-footer
                    button.btn.btn-primary(data-dismiss="modal") Close
