extends ../layout.pug

block content
    .banner
        .container
            .row
                .col-md-6.order-2.order-lg-1
                    .banner__content
                        .banner__content--subtitle= work_banner_subtitle
                        .banner__content--title= work_banner_title
                        .banner__content--text= work_banner_text
                        a.btn.btn-primary(href= work_banner_button_link)= work_banner_button_text
    .container.py-4
        ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
            li.nav-item
                a#pills-home-tab.nav-link.active(data-toggle='pill' href='#pills-ruby' role='tab' aria-controls='pills-ruby' aria-selected='true') Ruby on rails
            li.nav-item
                a#pills-profile-tab.nav-link(data-toggle='pill' href='#pills-laravel' role='tab' aria-controls='pills-laravel' aria-selected='false') Laravel
            li.nav-item
                a#pills-contact-tab.nav-link(data-toggle='pill' href='#pills-other' role='tab' aria-controls='pills-other' aria-selected='false') Other

        #pills-tabContent.tab-content
            #pills-ruby.tab-pane.fade.show.active(role='tabpanel')
                .row.py-2
                    .col-md-12.mb-2
                        .work_section_title Ruby on rails
                        .work_section_text Discover my projects built with Ruby on rails designed with innovation in mind. 
                    each work in my_work.ruby
                        .col-md-4.p-2
                            .work
                                .work__image(style="background-image: url('"+ work.work_image +"')")
                                .work__content
                                    .work__content--title= work.work_title
                                    .work__content--description= work.work_text
                                    a.work__content--link(href= work.work_link target="_blank") View
            #pills-laravel.tab-pane.fade(role='tabpanel')
                .row.py-2
                    .col-md-12.mb-2
                        .work_section_title Laravel projects
                        .work_section_text Pet projects to showcase a small snippet of what I can create. 
                    each work in my_work.laravel
                        .col-md-4.p-2
                            .work
                                .work__image(style="background-image: url('"+ work.work_image +"')")
                                .work__content
                                    .work__content--title= work.work_title
                                    .work__content--description= work.work_text
                                    a.work__content--link(href= work.work_link target="_blank") View
            #pills-other.tab-pane.fade(role='tabpanel')
                .row.py-2
                    .col-md-12.mb-2
                        .work_section_title Other projects
                        .work_section_text Other projects made on my journey of coding.
                    each work in my_work.other
                        .col-md-4.p-2
                            .work
                                .work__image(style="background-image: url('"+ work.work_image +"')")
                                .work__content
                                    .work__content--title= work.work_title
                                    .work__content--description= work.work_text
                                    a.work__content--link(href= work.work_link target="_blank") View
